<div class="container mt-4">
    <h4>Ocorreu um erro</h4>
    <p>Tente novamente mais tarde ou entre em contato com o Suporte.</p>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Voltar</a>
</div>
